<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web LED Control</title>
</head>
<body>
  <center>
    <strong>HOME IOT Service</strong>
    <br />
    <table style="width: 50%;">
      <tr>
        <td class="auto-style6" style="height: 81; width: 30%;">
          <strong>
            <a href="led_control_act?led=1" style="text-decoration: none; color: #fff; display: block">LED 켜기</a>
          </strong>
        </td>
        <td class="auto-style6" style="height: 81; width: 30%;">
          <strong>
            <a href="led_control_act?led=2" style="text-decoration: none; color: #fff; display: block;">LED 끄기</a>
          </strong>
        </td>
      </tr>
    </table>
    <br />
    <strong>LED is {{ret}}</strong>
  </center>
</body>
</html>
<style type="text/css">
  .auto-style1{
    text-align: center;
  }
  .auto-style3{
    background-color: #008000;
  }
  .auto-style6{
    border: solid 1px #000;
    text-align: center;
    color: #fff;
    background-color: #ff9900;
  }
</style>