<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>post 방식 요청 테스트</title>
</head>
<body>
  <h2>ID: {{id}}, PASSWORD: {{password}}</h2>
  <form action="/method_post_act" method="post">
    <label for="" id="Label1">id</label>
    <input type="text" name="id" />
    <br />
    <label for="" id="Label2">password</label>
    <input type="text" name="password" />
    <br />
    <br />
    <input type="submit" name="Submit1" value="submit" />
  </form>
</body>
</html>